<div class="sidebar">
  <h2 class="logo">Perpustakaan</h2>

  <a href="/api/peminjam/dashboard">Beranda</a>
  <a href="/api/peminjam/katalog">Katalog</a>
  <a href="/api/peminjam/antrian">Antrian</a>
  <a href="/api/peminjam/riwayat">Riwayat</a>
  <a href="/api/peminjam/akun">Akun</a>
</div>

<div class="content">
 
</div>